/* variables */
:root {
  --light: rgb(214, 240, 249);
  --dark: #0587c4;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-nav {
  background-color: rgba(31, 31, 31, 0.5);
  width: 100%;
  z-index: 5;
  
}


.main-nav ul{
  display: grid;
  padding: 0;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

.main-nav a {
  display: block;
  text-decoration: none;
  /* padding: 0.8rem; */
  text-align: center;
  text-transform: uppercase;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr auto .5fr .5fr;
  grid-template-areas:
      'title title'
      'tp-result egg-result'
      'toiletpaper egg'
      'social-media social-media'
      'footer footer';
}

.title-container {
  grid-area: title;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-image: url("./bedroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 2em;
  grid-column: 1/3;
  font-family: Arial, Helvetica, sans-serif
}

.logo {
  display: flex;
  font-size: 1rem;
  width: 100%;
}

li, a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

nav{
  margin-right: .7em;
}

.nav-links {
  display: inline-block;
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0 1em;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.title {
  text-align: center;
  margin-top: 6.5em;
}

.sub-title {
  font-size: 1.2rem;
  font-style: italic;
}

.footer{
  grid-area: footer;
  text-align: center;
  margin-top: 3em;
}

.egg-result, .tp-result {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
}

.result{
  font-size: 2.5em;
  color: rgb(82, 82, 82);
}

.egg-result{
  grid-area: egg-result;
}

.tp-result{
  grid-area: tp-result;
}

.egg-container {
  grid-area: egg;
}
.tp-container {
  grid-area: toiletpaper;
}

.header {
  font-size: 2em;
  text-align: center;
  margin: 1.1em auto;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}


/* slider */


input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: var(--dark);;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--dark);
}

.label{
  font: 18px Arial;
}
.range-wrap{
  position: relative;
  margin-top: 3em;
  display: inline-block;
  box-sizing: border-box;
  width: 85%;
}
.range-value{
	position: absolute;
	top: -50%;
}
.range-value span{
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: var(--dark);
	color: #fff;
	font-size: 18px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid var(--dark);;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

.slider-container{
  padding-left: 10%;
  padding-right: 10%;
}


.egg-container, .tp-container{
  min-height: 40em;
  height: auto;
  position: relative;
}

.tp-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2em;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url('./toiletpaperpic.png');
    background-repeat: no-repeat;
    background-size: 43em;
}

.egg-container::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 1em;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  background-image: url('./egg.png');
  background-repeat: no-repeat;
  background-size: 45em;
}

.footer a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(100, 173, 198);
}

a:hover{
  text-shadow: 1px 0px 0px rgb(39, 39, 152);
  color: rgb(39, 39, 152);
}

.social-media-container {
  grid-area: social-media;
  background-color: var(--light);
  height: auto;
  text-align: center;
  padding: 3em;
  box-sizing: border-box;
}

.button-advanced {
  color: white;
  background-color: rgb(125, 125, 125);
  margin-top: 5%;
  margin-left: 15%;
  font-size: 1em;
  padding: .7em;
  border-radius: 10px;
  outline: none;
}

.button-advanced:hover {
  background-color: rgb(62, 60, 60)
}

.advanced-options {
  border: 1px solid rgb(174, 172, 172);
  height: auto;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 2em 3em 3em;
}

.advanced-options .arrow-button{
  background-color: rgb(238, 238, 238);
}

.arrow-button {
  /* border: rgb(69, 157, 211, 0.5) solid 1px; */
  outline: none;
  font-size: 1.2em;
  vertical-align: -.2em;
  color: rgb(69, 157, 211);
  background-color: rgb(255, 255, 255, 1);
  border-radius: 50%;
  display: inline;
}

.arrow-button:hover{
  color: rgb(19, 72, 105);
}

a.privacy-policy{
  font-size: 1em;
  ;
}

.nav-links li a:hover{
  text-shadow: 1.35px 0px 0px rgb(255, 255, 255);
  color: white;
}

a.menu:hover{
  color: red
}

.react-share__ShareButton {
  text-decoration: none;
  outline: none;
  border: 0;
}

.react-share__ShareButton:hover {
  color: red;
}

.share {
  display: inline-block;
  padding: 1em;
}

@media (max-width: 700px) {

  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr auto .5fr auto .5fr .3fr;
    grid-template-areas:
        'title'
        'tp-result'
        'toiletpaper'
        'egg-result' 
        'egg'
        'social-media'
        'footer';
  }

  .slider-container{
    padding-left: 2%;
    padding-right: 2%;
  }

  .advanced-options {
    margin: 0;
  }

  .main-nav ul{
    grid-template-columns: 1fr;
  }
  .main-nav li{
    margin: .3em auto;
  }

  .title {
    margin-top: 15em;
  }
}